:root 
{
    --main-color: #010220;
    --items: #030c3d;
    --validation: rgb(150, 255, 109);
}

body
{
    background-color: var(--main-color);
    color: white;
}


/**************** GRILLES ****************/

.grid > div{
    border-radius: 10px;
    border-width: 10px;
    background-color: var(--items);
    margin: 2% 2% 0 2%;
    height: 87vh;
    text-align: center;
}

.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftgrid > div{
    padding-top: 10px;
}

.leftgrid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/**************** BOUTON ****************/

button
{
    margin: 10px 0 0 10px;
    background-color: var(--main-color);
    color: white;
    transition-duration: 0.4s;
    border-radius: 4px;
    width: 250px;
    height: 75px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/**************** TEXTE ****************/

.question, .valide
{
    padding: 10px;
    border-radius: 4px;
    width: 170px;
}

.valide
{
    background-color: var(--validation);
    color: black;
}


.question
{
    border: 1px solid blanchedalmond ;
    background-color: var(--main-color);
}

.caché
{
    color: transparent;
    background-color: transparent;
}

.affiché /* pour le resultat */
{
    border: 1px solid blanchedalmond ;
    border-radius: 4px;
    padding: 10px;
    margin: 15px 0 0 60px;
    background-color: var(--main-color);
    width: 230px;
    text-align: center;
    vertical-align: text-top;
}

#quizz > p
{
    overflow: hidden;
    margin: 10px 0 15px 10px;
    font-size: 1.45em;
    width: 80%;
}

#lecon
{
    background-color: var(--items);
    border-radius: 15px;
    width: 50vh;
    text-align: center;
    padding: 5px;
}

h1
{
    background-color: var(--items);
    padding: 10px;
    margin: 0 1% 0 1% ;
    text-align: center;
    border-radius: 4px;
}

